<html>

<head>
    <title>게시판</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/board_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/board_js.js">
    </script>
</head>

<body>
    <div id="headWrapper">
        <div id='leftSide'>
            <div id='boardSide'>
                <table class='table table-hover'>
                    <thead>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>2</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>3..</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>4..</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <button class='btn btn-dark' style="float:right">글쓰기</button>
                <div class='text-center'>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="writeSide">
                <form id="boardForm" , method="post" action="/">
                    <div id='currentId'>.</div>
                    <input type='text' id='title' class='textBox'>
                    <input type='text' id='date' class='textBox'>
                    <textarea id='explain' class='textBox' placeholder='메모...'></textarea>
                    <button type='button' id='save' class="btn btn-Dark"> 저장 </button>
                    <button type='button' id='delete' class="btn btn-Dark"> 삭제 </button>
                </form>
            </div>
        </div>
        <div id="rightSide">
            <div id='goToCalendar'>
                <a href='/calendar'>캘린더</a>
            </div>
            
            <div class="panel panel-default" id="chatWrap">
                <div class="panel-heading">대화내용</div>
                <div class="panel-body">
                    <textarea id="chatBody" cols="30" rows="10" style="resize : none" readonly></textarea>
                </div>
            </div>
            <form action="" method="post" id="sendForm">
                <div class="input-group">
                    <input type="hidden" name="socketId">
                    <input type="text" name="message" class="form-control" placeholder="대화내용을 입력해주세요.">
                    <span class="input-group-btn">
                        <button class="btn btn-primary">작성하기</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>

<!-- <link href="bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->