<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/calendar_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/calendar_js.js"></script>
</head>

<body>
    <div id="headWrapper">
        <div id='leftSide'>
            <div id='scrollWrapper'>

                <div id='leftArrow' class='month'>&lt;&lt;</div>
                <ul>
                    <div id='1' class='month'>1</div>
                    <div id='2' class='month'>2</div>
                    <div id='3' class='month'>3</div>
                    <div id='4' class='month'>4</div>
                    <div id='5' class='month'>5</div>
                    <div id='6' class='month'>6</div>
                    <div id='7' class='month'>7</div>
                    <div id='8' class='month'>8</div>
                    <div id='9' class='month'>9</div>
                    <div id='10' class='month'>10</div>
                    <div id='11' class='month'>11</div>
                    <div id='12' class='month'>12</div>
                </ul>
                <div id='rightArrow' class='month'>&gt;&gt;</div>

            </div>
            <div id="calWrapper">
                <div id='cover'></div>
                <div id="line1" class="calLine">
                    <div id="box1" class="cal"></div>
                    <div id="box2" class="cal"></div>
                    <div id="box3" class="cal"></div>
                    <div id="box4" class="cal"></div>
                    <div id="box5" class="cal"></div>
                    <div id="box6" class="cal"></div>
                    <div id="box7" class="cal"></div></br>
                </div>
                <div id="line2" class="calLine">
                    <div id="box8" class="cal"></div>
                    <div id="box9" class="cal"></div>
                    <div id="box10" class="cal"></div>
                    <div id="box11" class="cal"></div>
                    <div id="box12" class="cal"></div>
                    <div id="box13" class="cal"></div>
                    <div id="box14" class="cal"></div></br>
                </div>
                <div id="line3" class="calLine">
                    <div id="box15" class="cal"></div>
                    <div id="box16" class="cal"></div>
                    <div id="box17" class="cal"></div>
                    <div id="box18" class="cal"></div>
                    <div id="box19" class="cal"></div>
                    <div id="box20" class="cal"></div>
                    <div id="box21" class="cal"></div></br>
                </div>
                <div id="line4" class="calLine">
                    <div id="box22" class="cal"></div>
                    <div id="box23" class="cal"></div>
                    <div id="box24" class="cal"></div>
                    <div id="box25" class="cal"></div>
                    <div id="box26" class="cal"></div>
                    <div id="box27" class="cal"></div>
                    <div id="box28" class="cal"></div></br>
                </div>
                <div id="line5" class="calLine">
                    <div id="box29" class="cal"></div>
                    <div id="box30" class="cal"></div>
                    <div id="box31" class="cal"></div>
                    <div id="box32" class="cal"></div>
                    <div id="box33" class="cal"></div>
                    <div id="box34" class="cal"></div>
                    <div id="box35" class="cal"></div></br>
                </div>
                <div id="line6" class="calLine">
                    <div id="box36" class="cal"></div>
                    <div id="box37" class="cal"></div>
                    <div id="box38" class="cal"></div>
                    <div id="box39" class="cal"></div>
                    <div id="box40" class="cal"></div>
                    <div id="box41" class="cal"></div>
                    <div id="box42" class="cal"></div></br>
                </div>
                <div id='memoBox'>
                    <div id="memoList">
                        <table id='memoTable' class='table table-hover table-sm'>
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <!-- <th>3</th> -->
                                </tr>
                            </thead>
                        </table>
                        <button id="newSchedule" type="button" class="btn btn-Dark"> New </button>
                    </div>

                    <form id="memoForm" , method="post" action="/calendar">
                        <div id='currentId'>.</div>
                        <input type='text' id='title' class='textBox'>
                        <input type='text' id='date' class='textBox'>
                        <textarea id='explain' class='textBox' placeholder='메모...'></textarea>
                        <button type='button' id='save' class="btn btn-Dark"> 저장 </button>
                        <button type='button' id='delete' class="btn btn-Dark"> 삭제 </button>
                        
                    </form>
                </div>
            </div>
        </div>

        <div id='rightSide'>
            <div id='infoBox'>
                <div id='menuBox'>

                    <div id='goToBoard'>
                        <a href='/board'>게시판</a>
                    </div>
                </div>
                <div id='myInfo'>

                </div>
            </div>
            <div class="panel panel-default" id="chatWrap">
                <div class="panel-heading">대화내용</div>
                <div class="panel-body">
                    <textarea id="chatBody" cols="30" rows="10" style="resize : none" readonly></textarea>
                </div>
            </div>
            <form action="" method="post" id="sendForm">
                <div class="input-group">
                    <input type="hidden" name="socketId">
                    <input type="text" name="message" class="form-control" placeholder="대화내용을 입력해주세요.">
                    <span class="input-group-btn">
                        <button class="btn btn-primary">작성하기</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <script src="/js/test.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>