<html>

<head>
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var logoWidth = $("#logo").width() + 200;
            console.log(logoWidth);
            $("#logo").animate({
                left: "50px", // 페이지 x y를 따와서 이용 가능할듯.
                opacity: "1",
            }, 1500, function () {
                $("#logoAdditional").animate({
                    opacity: "1",
                    left: logoWidth + "px",
                }, 1500);
            });
        });
    </script>
    
</head>

<body>
    <div id="headWrapper" class="container-fluid">
        <div class="row align-items-center">
            <div id="logoWrapper" class="container">
                <div id="logo" class="row">
                    <img src="/img/pineappleLogo.png" class="rounded float-left" width=220px height=100px>
                </div>
                <div id="logoAdditional" class="row text-muted">
                    다채롭게 꾸미는 캘린더
                </div>
            </div>

            <div id="bodyWrapper" class="container">
                <div class="row">
                    <div class="col-17">
                        <figure id="calImg" class="figure">
                            <img src="/img/index_img.png" class="figure-img img-fluid rounded" alt="모서리가 둥근 일반 사각형 이미지 입니다.">
                            <figcaption class="figure-caption">스키장가고싶다</figcaption>
                        </figure>
                    </div>
                    <div class="col">
                        <div class="container-sidebar">
                            <button type="button" class="btn btn-light">
                                <a href="/signIn"> Sign In </a>
                            </button>
                        </div>
                        <div id="texts">
                            <div>111111111</div>
                            <div>222222222</div>
                            <div>333333333</div>
                            <button id="ajaxsend">test</button>
                            <input type="text" id="msg">
                            <p id="result"> asdf </p>
                            <script src="/js/test.js"></script>
                            <a href="/chat">CHATTING TEST</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li id="signIn">
            <a href="/signIn">Sign In</a>
        </li>
    </ul>
</body>

</html>