<html>

<head>
    <link rel="stylesheet" href="/css/signUp_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/signUpPage.js"></script>
    <script>
        $(document).ready(function(){

        })
    </script>
</head>

<body>
    <div id="headWrapper">
        <div id="signUpBox">

            <form name="signUp" , method="post" action="/signup">
                <div id='ID' class='inputPlaceHolder'>ID</div>
                <input type="text" name="name" id="newIdInput" class="textBox" onfocus="textMoveUp(document.getElementById('ID'))" onblur="textMoveDown(document.getElementById('ID'), document.getElementById('newIdInput'))"></br>
                <button value="중복확인" id="dupCheck"></button>
                <p><=% result =></p>
                <div id='PW' class='inputPlaceHolder'>비밀번호</div>
                <input type="password" name="password" id="newPasswordInput" class="textBox" onkeyup="checkPassword(this)" onfocus="textMoveUp(document.getElementById('PW'))" onblur="textMoveDown(document.getElementById('PW'), document.getElementById('newPasswordInput'))">
                <div id="pwAlert"></div></br>
                
                <div id='PWcheck' class='inputPlaceHolder'>비밀번호 확인</div>
                <input type="password" id="newPasswordConfirm" class="textBox" onkeyup="checkPasswordAgain(this)" onfocus="textMoveUp(document.getElementById('PWcheck'))" onblur="textMoveDown(document.getElementById('PWcheck'), document.getElementById('newPasswordConfirm'))">
                <!-- <img src="icons\info.svg" class='icon' width=20px height=20px style="vertical-align: middle"> -->
                <div id="pwConfirmAlert"></div></br>
                
                <div id='nN' class='inputPlaceHolder'>닉네임</div>
                <input type="text" name="nickname" id="nickName" class="textBox" onfocus="textMoveUp(document.getElementById('nN'))" onblur="textMoveDown(document.getElementById('nN'), document.getElementById('nickName'))"></br>
                <button id="logInButton"><span>Submit </span></button>
                <input type="submit" value="submit" >
            </form>

        </div>
    </div>

</body>

</html>
