@font-face {
    font-family: NanumSquareWeb; 
    src: local(NanumSquareR),
         local(NanumSquare),
         url(NanumSquareR.eot) format('embedded-opentype'),
         url(NanumSquareR.woff) format('woff'),
         url(NanumSquareR.ttf) format('truetype');
}

#headwrapper {
    background: url(/img/calendar_blur.png);
     /* no-repeat center center fixed  */
    background-size: cover;
    height: 100%;
    width: 100%;
}

#logo {
    /* margin: 30px; */
    position: relative;
    height:50px;
    width:50px;
    opacity: 0;
}

#logoAdditional {
    position: relative;
    opacity: 0;
    font-weight: bold;
    font-size: 25px;
}

#bodyWrapper {
    margin-top: 30px;
}