#headWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    height: 100%;
    width: 100%;
}

#logInBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 4px 0 grey, 0 6px 20px 0 grey;
    background-color: #eeecec;
    padding: 20px;
}

.textBox {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    border-bottom: solid 1.5px #c4c2c2;
    width: 50%;
    padding: 2px;
    margin: 10px;
    margin-top: 35px;
    outline: none;
}

#logInButton {
    border-radius: 4px;
    border: none;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    width: 80px;
    height: 30px;
}

#logInButton span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

#logInButton span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#logInButton:hover span {
    padding-right: 15px;
}

#logInButton:hover span:after {
    opacity: 1;
    right: 0;
}

#upperForm {
    font-size: 30px;
    margin-bottom: 20px;
}

#signUpBox {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 4px 0 grey, 0 6px 20px 0 grey;
    background-color: #eeecec;
    width: 70%;
    height: 50%;
    max-width: 550px;
    padding: 20px;
}
.inputPlaceHolder{
    position: relative;
    /* z-index: 1; */
    color: grey;
    font-size: 25px;
    top: 50px;
    left: 15px;
    transition: 0.3s;
}
/* #newIdInput {
    position: relative;
} */
.textBox:hover {
    border-color: rgb(8, 156, 255);
    transition: 0.3s;
}
#pwAlert {
    position: absolute;
    font-size: 13px;
    opacity: 0;
    transition: 0.5s;
    /* transition:  0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, bottom; */
    padding-left: 10px;
}

#pwConfirmAlert{
    position: absolute;
    font-size: 13px;
    opacity: 0;
    transition: 0.5s;
    padding-left: 10px;
}

.icon {
    opacity: 0;
}